.movie-details {
  border-radius: 10px;
  width: 31%;
  background-color: #ececec;
  margin: 0.5%;
  padding: 0.5%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.movie-details__image {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.movie-details__title {
  margin-top: 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .movie-details {
    width: 45%;
    margin: 1%;
    padding: 1%;
  }
}

@media screen and (max-width: 620px) {
  .movie-details {
    width: 100%;
    padding: 1%;
  }
}